@import '../common/_var.scss';
@import './_calculator.scss';
@import './_tabs.scss';
@import './_profit.scss';
@import '../invest/_tab3.scss';
@import '../invest/_qa.scss';

.banner1 {
    background: url(../img/finance/banner.jpg) no-repeat center center;
    background-size: cover;
    min-height: 700px;
}
