.ss_modal {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0,0,0,.65);
  height: 100%;
  animation: fade-in;/*动画名称*/  
  animation-duration: 0.1s;/*动画持续时间*/  
  -webkit-animation:fade-in 0.1s;/*针对webkit内核*/  
}

.ss_modal_hide {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,.65);
    height: 100%;
    animation: fade-out;/*动画名称*/  
    animation-duration: 0.5s;/*动画持续时间*/  
    -webkit-animation:fade-out 0.5s;/*针对webkit内核*/  
}

@keyframes fade-out {  
  0% {opacity: 1;}/*初始状态 透明度为0*/  
  100% {opacity: 0;}/*结束状态 透明度为1*/  
}  

@-webkit-keyframes fade-out {/*针对webkit内核*/  
  0% {opacity: 1;}  
  100% {opacity: 0;}  
}

@keyframes fade-in {  
  0% {opacity: 0;}/*初始状态 透明度为0*/  
  100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
  0% {opacity: 0;}  
  100% {opacity: 1;}  
}  

.ss_modal_content {
  width: 500px;
  height: 500px;
  position: fixed;
  background-color: #fff;
  right: 0px;
  animation:right-over;/*动画名称*/  
  animation-duration:0.5s;/*动画持续时间*/  
  -webkit-animation:right-over 0.5s;/*针对webkit内核*/  
}

.ss_modal_content_hide {
  width: 500px;
  height: 500px;
  position: fixed;
  background-color: #fff;
  right: 0px;
  animation: right-remove;/*动画名称*/  
  animation-duration: 0.5s;/*动画持续时间*/  
  -webkit-animation:right-remove 0.5s;/*针对webkit内核*/  
}

@keyframes right-over {  
  0% {right: -500px;;}/*初始状态 透明度为0*/  
  100% {right: 0px;;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes right-over {/*针对webkit内核*/  
  0% {right: -500px;;}/*初始状态 透明度为0*/  
  100% {right: 0px;;}/*结束状态 透明度为1*/  
}  

@keyframes right-remove {  
  0% {right: 0px;;}/*初始状态 透明度为0*/  
  100% {right: -500px;;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes right-remove {/*针对webkit内核*/  
  0% {right: 0px;;}/*初始状态 透明度为0*/  
  100% {right: -500px;;}/*结束状态 透明度为1*/  
}  