
@import '../common/_var.scss';
@import './_tabs.scss';
@import './_income.scss';
@import './_profit.scss';
@import './_tab3.scss';
@import './_qa.scss';

.banner {
    .btn {
        position: absolute;
        left: 50%;
        margin-left: -113px;
        bottom: 100px;
        width: 226px;
        font-size: 32px;
        &>i {
            line-height: 76px;
        }
    }
}
