// 资金流水

@import '../common/_var.scss'; 
 
.as-account-statement{ 
    width: 992px;  
    &>.search-area{
      padding: 30px 30px 3px;
      background-color: #fff; 
      &>.top-title{
          font-size: 21px;
          color: #333;
          padding-bottom: 5px;
          border-bottom: dashed 1px #e6e6e6;
      }
      &>.search-tag{
          list-style:none ;
          margin-top: 20px;
          &>li{
              display: inline-block;
              font-size: 16px;
              color: $c6;
              margin-right: 25px; 
              cursor: pointer;
              &:hover{
                  color: $f90; 
              }
              &.active{
                  color: $f90; 
              } 
          } 
      } 
    } 
    &>.as-list{
        margin-top:37px;
        padding: 26px 50px;
        background-color: #fff; 
    }
}


 