.infor{
  >.w{
    .affili{
      .warp{
        .item{
          li{
            width:50%;
            height:300px;
            margin: 0 auto;
            opacity: .5;
            span:nth-child(1){
              margin: 39px auto;
            }
          }
        }

      }
    }
  }
}
