.infor{
    >.w{
        .profile{
            p.tit i{
                color:#f90;
                font-size: 30px;
                padding-right: 5px;
            }
            .wrap{
                border:none;
                li{
                    border:none;
                    line-height: inherit;
                }
                 .age{
                     .pie .bar-box{
                         top:18%;
                          li .bar{
                              width: 53% !important;
                          }
                     }
                }
                .schooling{
                    margin-top:150px;
                    .pie-use-icon{
                        top:32% !important;
                    }
                   .pie .bar-box{
                        top:18%;
                    
                        > ul li{
                        font-size: 16px;
                        position: relative;
                        &::before{
                            display: block;
                            content: '';
                            width: 15px;
                            height: 15px;
                            background: #f90;
                            border-radius: 50%;
                            position: absolute;
                            left: -33px;
                            top: 9px;
                        }
                        span{
                            color:#f90;
                            font-size: 20px;
                            font-weight: bold;
                            width:10% !important;
                        }
                      }
                    }
                    
                }
            }
        }
    }
}