.infor{
  >.w{
    .safe_G{
      .wrap{
        padding: 50px 0;
        position: relative;
        >div{
          width:49%;
        }
        .pic{}
        .text-info{
          margin-top: 25px;
          p{
            color:#696969;
            font-size: 14px;
            line-height: 25px;
          }
          .tit{
            margin-bottom: 25px;
            font-size: 24px;
          }
        }
      }
    }
  }
}
