.infor{
  >.w{
    .coop-par{
      .wrap{
          border:none;
        li{
          border:none;
        }
        .Partner{
          .logo{
            width:40%;
           text-align: center;
           margin-top: 76px;
            img{
              width:70%;
            }
          }
          .Partner_pic{
            position: relative;
            width:60%;
            .line{
              position: absolute;
              top:50%;
              margin-top: -105px;
              left:-10px;
            }
            li{
              width:50%;
              float: left;
              text-align: center;
              margin-bottom: 15px;
              img{
                width: 209px;
                height:67px;
                border:1px dashed #e5e5e5;
              }
            }
          }
        }
        .Partner-item{
          margin-top: 50px;
          li{
            width:100%;
            position: relative;
            padding-left: 180px;
            margin-bottom: 50px;
            line-height:0;
            .pic-logo{
              width: 138px;
              height:45px;
              position: absolute;
              top:0;
              left: 0;
              border:1px dashed #e5e5e5;
              img{
                  width:100%;
                vertical-align: middle;
              }
            }
            p{
              text-indent: 20px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
