@import './leftMenu.scss';
@import './opDa.scss';
.infor{
  >.w >.fr{
    width: 956px;
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
    height: auto;
    overflow-y: auto;
    h2{
      border-bottom: 1px dashed #ccc;
      padding-bottom: 10px;
      margin-bottom: 50px;
      i{
        margin: 0 20px;
      }
    }
  }

}
