.safeCenter  {
  background-color: #fff;
  & > .tab-row {
    display: flex;
    border-top: 1px solid #F5F5F5;
    height: 40px;
    min-width: 500px;
    padding: 10px 30px;
    align-items: center;
    div {
      flex: 1;
      display: flex;
      align-items: center;
    }
    span {
      font-size: 16px;
    }
    a {
      font-size: 14px;
      color: #007aff;
      text-decoration:underline;
    }
    i {
      margin-top: 2px;
      margin-right: 8px;
    }

  }
}
.ant-col-12 {
  p{
    width:400px;
    font-size: 20px;
    color:orange;
    margin-top: 30px;
    margin-left: -150px;
  }
}

