@import '../common/_var.scss';

.logindiv1 {
    // position: relative;
    margin: 0 auto 300px auto;
    width: 1200px;
    height: 544px;
    left: 50%;
    z-index: 10;
    background: url(../img/login/pic1.jpg) no-repeat right center #fff;
    transform: translate(0,200px);
    transition: transform ease 0.5s;
    a.blue {
        color: #3399FF;
        text-decoration: underline;
    }
    a.gray {
        // color: #666;
        // text-decoration: underline;
        width: 80px;
        height: 17px;
        font-family: MicrosoftYaHeiUI;
        text-decoration: underline;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: 0px;
        color: #c4c4c4;
        position: absolute;
        top:100px;
        left:384px;
    }
    a:hover {
        opacity: 0.7;
    }
}
.logindiv1 .show {
    transform: translate(0,0);
}
.logindiv1 .form {
    float: left;
    padding: 0px 0 0 115px;
  //position: relative;

    .hd {
        margin-bottom: 50px;
        margin-top: 80px;
        a {
            // width: 130px;
            // line-height: 38px;
            // border-bottom: 2px solid #D9D9D9;
            // font-size: 28px;
            // color: #666666;
            // &.hover {
            //     border-bottom-color: #FF8533;
            // }
            // &:hover {
            //     color: #FF8533;
            // }
            width: 80px;
            height: 18px;
            font-family: MicrosoftYaHeiUI;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 4px;
            letter-spacing: 0px;
            color: #333333;
        }
    }
    .row {
      margin-bottom: 20px;
      display: block;
      .prompts {
        margin-top: 5px;
        color: red;
      }
      .registration-prompts{
        color: #868686 !important;
        font-size: 11px !important;
        // margin-left: 30px;
        a{
            color: #FF9900;
            font-size: 13px;
        }
      }
    }
    .put {
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        padding: 0 0 0 40px;
        width: 329px;
        line-height: 42px;
        height: 44px;
        font-size: 14px;
        background-position: 14px center;
        background-repeat: no-repeat;
        &:focus {
            border-color: #FF8533;
        }
    }
    .mobile {
        background-image: url(../img/login/ic_mobile.png);
    }
    .vcode {
        background-image: url(../img/login/ic_redo.png);
    }
  .input_{
    position:relative;
  }
    .getvc {
        position: absolute;
        right: 0;
        top: 1px;
        background-color: #ff9900;
        color: #fff;
        line-height: 41px;
        height:44px;
        width: 124px;
       border-bottom-right-radius: 3px;
       border-top-right-radius: 3px;
    }
    .pwd {
        background-image: url(../img/login/ic_pwd.png);
    }
    .user {
        background-image: url(../img/login/ic_user.png);
    }
    .btn {
        display: block;
        background-color: #ff9900;
        color: #fff;
        line-height: 42px;
        font-size: 14px;
    }
  .btns{

    margin: 30px 39px;

  }
    .bot {
        padding-top: 10px;
    }
}
// .logf .tright {
//     // padding-top: 10px;
//     // width:70px !important;
//     border:1px solid red;
//     position: relative;
//     top:10px;
//     left:10px;
// }
.logindiv1 .other {
    text-align: center;
    border-top: 1px solid #D9D9D9;
    margin-top: 40px;
    span {
        display: inline-block;
        position: relative;
        top: -17px;
        background-color: #fff;
        line-height: 34px;
        padding: 0 20px;
        &>i {
            margin-right: 12px;
        }
    }
    a {
        width: 34px;
        height: 34px;
        background-position: center;
        background-repeat: no-repeat;
        &.qq {
            background-image: url(../img/login/qq.png);
        }
        &.weixin {
            background-image: url(../img/login/weixin.png);
        }
        &.sina {
            background-image: url(../img/login/sina.png);
        }
    }
}

.btn_btn{
  margin: 20px auto;
  width:48%;
}
.btn_r{
  margin-left: 80px;
}
.safe{
  color:black !important;
  margin-bottom: 10px;
}

.Prompt{
  font-size: 12px;
  color:#ff9900;
  margin: 15px auto;
}
.PwdTitle {
  width:165px !important;
  line-height: 38px;
  border-bottom: 2px solid #D9D9D9;
  font-size: 14px;
  font-weight: bold;
  //margin-bottom: 85px;
}
.PwdTitle:hover{
  color: black !important;
}
.PwdTitle_1{
  font-size: 14px;
  margin: 20px auto 30px auto;
}
.PwdTitle_1:hover{
  color:#ff9900;
}

.box{
  padding-top:20px;
}

.back{
    background:  #fff ;
    width:603px;
    height:544px;
    display: inline-block;
    .forget{
        position: relative;
        top:-160px;
        left:300px;
    }
}
.back_{
    position: absolute;
    background:  #D3D3D3 ;
    width:603px;
    height:544px;
    top:0px;
    left:597px;
    p{
        font-family: '微软雅黑';
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        color: #666666;
        text-align: center;
        padding-top: 80px;
    }
}
.logindiv1{
    background: none !important; 
}

.safe-info{
    margin-top: 10px;
    font-size: 13px;
    color: #333333;
    text-align: center;
    vertical-align: auto;
}
.statistics{
    margin-top: 55px;
    span{
        font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        color: #FF9900;
        word-wrap: break-word;
        vertical-align: auto;
        display: inline-block;
        margin-left: 8px
    }
}
.btn{
    font-size: 18px !important;
}

.forget_page{
    width:970px;
    height:522px;
    margin: 0 auto 300px auto;
    // border:1px solid red;
    box-shadow: -5px -5px 5px rgba(228, 228, 228, 1);
    background: white;
    // Button {
    //     color: #fff;
    //     background-color: #169BD5;
    //     border-color: #169BD5;
    // } 
    // Button:hover {
    //     color: #fff;
    //     background-color: #169BD5 !important;
    //     border-color: #169BD5 !important;
    // } 
    .forget_title{
        // font-size: 28px;
        padding: 33px 0 0 19px;
        border-bottom: 2px dashed #e6e6e6;
        width:1157px;
        margin: auto;
        height: 32px;
        font-family: MicrosoftYaHeiUI;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        // line-height: 166px;
        letter-spacing: 0px;
        color: #333333;
    }
    .forget_btnGroup{
        width:820px;
        margin: 30px auto;
        Button{
            width:140px;
            height:40px;
        }
        .line{
            font-size: 18px;
            color:#E4E4E4;
        }
        
    }
    .forget_form{
        width:300px;
        margin: 65px auto 0 auto;
        .forget_inp{
            position: relative;
            margin-top: 20px;
            height:41px;
            Input{
                padding-left: 35px;
                height:41px;
            }
            .forget_phone{
                position: absolute;
                top:13px;
                left:10px;
            }
            .input1{
                position: relative;
                padding-right:124px;
                padding-left:10px;
            }
            .input2{
                position: relative;
                width:124px;
                height:41px;
                top:-40px;
                left:175px;
                background: rgba(255, 153, 0, 1);
                padding-left:10px;
                color:white !important;
            }
            .slider{
                border:1px solid red;
                width:300px;
                height:41px;
                background: #E8E8E8;
            }
        }
        .forget-prompts{
            color: #868686 !important;
            font-size: 11px !important;
            // margin-left: 30px;
            margin-bottom: 20px;
            a{
                color: #FF9900;
                font-size: 13px;
            }
          }
          .ok_img{
              margin: auto;
              width:46px;
          }
          .second_p{
              color:#6B6B6B;
              font-size: 13px;
              span{
                  display: inline-block;
                  margin-left: 30px;
              }
          }

          .forget_third{
            position: relative;
            .ft_inp{
                height:41px;
                padding-left: 30px;
            }
            .img1{
               position:absolute;
               top:10px;
               left:10px;
            }
            .img2{
                position: absolute;
                top:10px;
                right:10px;
            }
        }
    }
    .forget_form4{
        width:300px;
        margin: 80px auto 0 auto;
        text-align: center;
    }
}
.ant-steps-item-icon{
    width:22px !important;
    height:22px !important;
    line-height: 22px !important;
}
.ant-steps-item-title{
    line-height: 22px !important;
}
.ant-steps-item-title:after{
    top:11px !important;
}