.real_title{
    border-bottom: 1px dashed lightgrey;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    margin-bottom: 30px;
    .safeCenter_{
        display: inline-block;
        font-size: 20px;
    }
    .registrationTime{
        display: inline-block;
        font-size: 14px;
        color: #AEAEAE;
        float: right;
    }
}
.first{
    border-bottom: 1px dashed  lightgrey;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
    // padding-bottom: 10px;
    .left{
        margin-left: 20px;
        display: inline-block;
        font-size: 16px;
        line-height: 28px;
    }
    .middle{
        display: inline-block;
        font-size: 14px;
        color: #CCCCCC;
        margin-left: 50px;
        line-height: 28px;
    }
    .right{
        font-size: 16px;
        float: right;
        color:blue;
        line-height: 28px;
    }
}
.personal{
    margin: 12px 0;
    height:43px;
    background-color: rgba(242, 242, 242, 1);
    font-size: 14px;
    line-height: 43px;
    padding-left: 20px;
    // text-align: center;
    .name{
        width:50px;
        display: inline-block;
        color:black;
       
    }
    .id{
        display: inline-block;
        padding-left: 20px;
    }
    .result{
       color:#009900;
       display: inline-block;
       padding-left: 50px;
    }
    .line{
        display: inline-block;
        width:50px;
        text-align: center;
     }
     .findPass{
         display: inline-block;
         margin-left: 323px;
         .a{
            color:#0066FF;
         }
         .a:hover{
             cursor: pointer;
         }
     }
}
.ant-steps-item-title {
    color: #ff9900 !important;
}

.pages {
   background: white;
   width: 1248px;
   height:678px !important;
   margin: auto; 
   padding-top: 5px;
}
.real_title_{
    border-bottom: 1px dashed lightgrey;
    // font-family: '微软雅黑';
    // font-weight: 400;
    // font-style: normal;
    padding-bottom: 10px;
    margin: 30px 20px 30px 20px;
    .safeCenter_{
        display: inline-block;
        font-size: 20px;
    }
  }
.card{
    width:700px;
    height:100px;
    border:1px solid lightgray;
    margin:  40px auto 0 auto;
    position: relative;
    .id_card{
        margin-top: 28px;
        margin-left: 50px;
        display: inline-block;
        width:40px;
        height:40px;
        vertical-align: middle;
        background: #3DB0FA;
        color:white;
        border-radius: 50%;
        position: relative;
        .id_Card{
          position: absolute;
          font-size: 26px;
          top:6px;
          left:7px;
        }
        .close{
            position: absolute;
            top:18px;
            left:23px;
            background: #3DB0FA;
        }
    }
    .china{
        display: inline-block;
        vertical-align: middle;
        margin-top: 28px;
        margin-left: 30px;
    }
    Button{
        width:150px;
        height:40px;
        vertical-align: middle;
        margin-top: 28px;
        // float:right;
        position: absolute;
        right:20px;
    }
}


.Prompt{
    width: 780px;
    height: 94px;
    background-color: rgba(242, 242, 242, 1);
    position: relative;
    img{
        position: absolute;
        left: 338px;
        top: 94px;
        width: 105px;
        height: 30px;   
        transition:transform 0.2s ease-out;
        transform: rotateZ(180deg);  
    }
    p{
        color:black;
        font-size: 14px;
        text-align: center;   
        // line-height: 40px;
    }
    .p1{
        padding-top: 20px;
    }
    .p2{
        padding-top: 10px;
    }
}

.info{
  margin: auto;
  width:100%;
  padding-top: 10px;
  position: relative;
  .inp{
    position: relative;
    Input{
        width:300px;
        height:40px;
        padding-left:30px;
        margin: 30px auto 0 auto; 
        margin-left: 465px;
    }
    img{
        position: absolute;
        top:40px;
        left:470px;
        z-index: 1;
    }
  }
  Button{
      position: absolute;
      top:180px;
      left:465px;
      width:300px;
      height:40px;
      background:#169BD5;
      color:white;
      font-size: 16px;
  }
  p{
      text-align: center;
      font-size: 14px;
      color: #999999;
      margin-top: 20px;
  }
  h1{
    text-align: center;
    font-size: 28px;
    margin:  40px 0;
  }
  a{
    text-align: center;
    color:blue;
    display: block;
    text-decoration-line: underline;
  }
}

.page_content{
    width:780px;
    margin:50px auto 70px auto;
    .openingHints{
        width:780px;
        height:320px;
        background: #F2F2F2;
        margin:auto;
        img{
            width:308px;
            margin-top:3px;
            margin-left: calc(50% - 154px);
        }
        p{
            text-align: center;
        }
    }
    .buttonGroup{
        .open{
            width:300px;
            height:40px;
            margin: 70px 0 0 238px;
          }
          p{
              text-align: center;
              margin: 20px 0 ;
          }
          .bind{
              width:250px;
              height:35px;
              color:#FF55FF;
              margin-left: 111px;
          }
          .bind1{
            width:250px;
            height:35px;
            color:#FF55FF;
            margin-left: 50px;
        }
    }
    
}

.top{
    margin-top: 20px;
}

.imgBox{
    height:220px;
    display: flex;
    justify-content:space-between;
        .step{
            position: relative;
            width:200px;
            .step_id{
              width:25px;
              height:25px;
              background: #FF9900;
              border-radius: 50%;
              position: absolute;
              z-index: 1;  
              text-align: center;
              line-height: 22px;
              font-size: 13px;
              color:white;
            }
            .step_box{
              width:177px;
              height:194px;
              border:1px solid lightgray;
              position: absolute;
              top:12px;
              left:12px;
              .text{
                  color:black;
                  font-size: 14px;
                  text-align: center;
                  margin: 50px 0;
              }
              .login{
                color:black;
                font-size: 14px;
                text-align: center;
                margin: 12px 0;
              }
              .account{
                color:black;
                font-size: 14px;
                text-align: center;
                margin: 20px 0;
              }
              .user{
                width:140px;
                text-align: left;
                color:black;
                font-size: 14px;
                margin: 20px 18px;
              }
              .goWeb{
                  margin-top: 10px;
                  margin-left: 42px;
                  width:89px;
                  height:33px;
                  background: rgba(255, 153, 0, 1);
                  color:white;
              }
            }
        }
}