.collection_btn {
  height: 47px;
  width: 110px;
  background-color: #f60;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.collection_btn:hover {
  background-color: #E55F03;
  cursor: pointer;
}
